body {

   background: url("lvgmp/milky_way2.jpg") ;
   background-position-x: 0%;
   background-position-y: 0%;
}
.wrapper{
   width: 50%;
   max-width: 1000px;
   margin: 0 auto;
   background: rgba(0, 0, 0, 0.75);
   margin-top: 7em;
   margin-bottom: 7em;
}
.caption{
   text-align: center;
   color: #FFF;
   text-shadow: 0 8px 7px #3CC268;
   font-size: 3em;
   margin-bottom: 0px;
}
.welcome_message{
   text-align: center;
   color: #FFF;
   text-shadow: 0 0px 6px #17F2FB;
   font-size: 1.5em;
   margin: 0px;
}
.welcome_message span{
   text-decoration: line-through;
}
.content{
   margin: 10px;
}
.foto{
   width: 50%;
   display: block;
   margin: 0 auto;
}
.description{
   color: wheat;
   overflow: hidden;
   padding-left: 2%;
   text-indent: 4em;
   padding-bottom: 1em;
}
li{
   list-style-position: inside;
}
@media (max-width: 800px) {
   .wrapper {
      width: 95%;
   }
}