/* селекторы тегов*/
html {
  overflow-y: scroll;
}
body{
	font-size: 1em;
	color: #ffbdb0;
	background-color: #212121;
	background-image: url(pic/9-fon-dlya-sayta.png);
	font-family: 'arial', sans-serif;
}



a{
    color: #ffd785
}
a:hover{
	text-decoration: none;
}
.top_menu a{
   display: inline-block;
}
ul{
   list-style-position: inside;
   padding: 0;
}
li{
	font-size: 0.5em;
}
h1{
   color:#FF8959;
   font-size: 1.5em;
   line-height:0.3em;
   text-shadow: 0px 0px 10px #00B6FF;
}
h2, .newsheader{
   color: #ffd111;
   font-size: 1.1em;
   line-height:0.2em;
   text-shadow: 0px 0px 10px #cf95ff;
}
input:focus, textarea:focus, select:focus{
	outline: 4px solid #4868ff;
}

/* id-селекторы */

#first{
	color:yellow
}

#last{
	color:red
}

.button2{
	position:fixed;
   width:5%;
   font-size: 0;

}

.button2 a{
   display:block;
}

/* селекторы-классов */

.header {
   width: 100%;
}

.header img{
   width: 90%;
}

.main{
	max-width:1000px; 
	width: 100%;
}

.even{
	color: #5ba6ff;
	font-style: italic;
}
.footer{
   clear: both;
	font-style: italic;
	text-align: left;
   padding: 2%;
}

.footpic {
   min-width: 60px;
   width: 50%;
   float: right;
}

/*.footpic:hover{
   width: 50%;

}*/
.center{
   padding: 10px;
   overflow: hidden;
   min-height:500px;
}

.pict_series{
   padding: 2%;
   width: 20%;
   min-width: 93px;
   float: left;
}

.activepage{
	font-weight: bold;
}
.prodpic {
	width: 33%;
}
.descriptprod{
    text-indent: 1em;
	text-align:left;
}
.descriptprod:first-letter{
    color:red;
	font-size:1.5em;
}
.newsheader{

	text-align:left;
   line-height:1em;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 0;
}
.newstext{
   margin-top: 10px;
   margin-left: 20px;
   margin-bottom: 0;
	text-align:left;
   line-height:1em;
}


.ok:active{
	background: #6fff54;
}
.cancel:active{
	background: #ff6464;
}

@media (max-width: 480px){
   .pict_series{
      display: none;
   }
   .prodpic {
      width: 100%;
   }

}


