* {
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main {
	padding: 0px;
	color: #333;
	
}
h1 {
	font-size: 36px;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
}
.wrapper {
	width: 625px;
	margin: 0px auto;
	padding: 0px;
	text-align: justify;
}

.name {
	font-size: 12pt;
}
.wrapper p {
	line-height: 1.42857143;
	font-size: 14px;
	box-sizing: border-box;
}
.alert_info{
	color: #31708f;
	background-color: #d9edf7;
	padding: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid #bce8f1;
	margin-bottom: 15px;
}
.alert_error{
	color: #f00;
	background-color: #ffb999;
	padding: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid #f00;
	margin-bottom: 15px;
}
.alert_success{
	color: #21a500;
	background-color: #cdffcc;
	padding: 15px;
	border-radius: 4px;
	box-sizing: border-box;
	border: 1px solid #83d281;
	margin-bottom: 15px;
}
.form_control{
	display: block;
	font-size: 14px;
	margin-bottom: 5px;
	box-sizing: border-box;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-sizing: border-box;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family: inherit;
}
.form_control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 99, 0, 0.6);
	border-color: #ffb164;
}
textarea.form_control{
	padding: 5px 10px;
	min-height: 200px;
	resize: vertical;
	height: auto;
	overflow: auto;
}
.btn_submit{
	width: 100%;
	cursor: pointer;
	display: block;
	color: #fff;
	background-color: #fcb860;
	border: 1px solid #f90;
	padding: 6px 12px;
	margin-bottom: 60px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;	
	border-radius: 4px;
	touch-action: manipulation;
}
.btn_submit:hover{
	background-color: #ffb29e;
	border-color: #ff1200;
}
.btn_submit:active{
	background-color: #810000;
	border-color: #000;
	outline: 0;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn_submit:focus{
	outline-offset: -2px;
	background-color: #993100;
	border-color: #ce613e;
}
.btn_submit:active:hover{
	background-color: #810000;
	border-color: #000;
}

@media (max-width: 800px){
   .wrapper{
	  width: calc(90% - 20px);
   }
}
@media (max-width: 226px){
   .wrapper{
	  padding: 2px;
	  width: 96%;
   }
   
}
.date {
	text-align: left;
	padding-right: 20px;
}
p>span{
	font-weight: bold;
}
p.theme_name{
	margin: 0px 0px;
	font-size: 20px;
}
h2{
	font-size: 22px;
	margin-bottom: 6px;
	margin-top: 10px;
}
div.topic{
	margin-bottom:20px;
}
p.theme_name>a{
	text-decoration:none;
	color: #009de6;
}
p.theme_name>a:hover{
	text-decoration:underline;
	color: #009de6;
}
.pagination{
	display: inline-block;
	margin: 5px auto;
	border-radius: 4px;
}
.pagination>li{
	display: inline;
}
.pagination>li>a{
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #337ab7;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
}
.pagination > li:last-child > a{
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.pagination > li:first-child > a{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pagination > li.active > a{
	color: #fff;
	cursor: default;
	background-color: #337ab7;
	border-color: #337ab7;
}
.pagination > li:not(.active) > a:hover{
	color: #23527c;
	background-color: #eee;
	border-color: #ddd;
}
.survey_choice{
	margin: 5px 0px;
	display: inline-block;
	font-weight: bold;
}
.survey_choice input{
	margin-right: 3px;
	vertical-align: -1px;
}
.survey_progress_bars{
	padding: 0px 20px;
}
.survey_progress_bars p{
	font-weight: bold;
	margin-bottom: 5px;
}
.pbar{
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 4px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-sizing: border-box;
}
.progr_bar{
	height: 100%;
	float: left;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
	transition: width .6s ease;
}









